In [1]:
# For Loop Example

### For Loop Example

In [2]:
## A Python program to display characters of a string using for loop

In [7]:
str = 'Python Code'

for ch in str:
    print(ch.upper())

P
Y
T
H
O
N

C
O
D
E

In [8]:
b = 'Length'
len(b)

6

In [9]:
## To Display Odd Numbers from 1 to 50 using range

In [11]:
for i in range(1,50):
    if(i % 2 == 1):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [13]:
# To display numbers in Descending Orders
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [17]:
# To display numbers in Ascending Orders
for j in range(5,50,5):
    print(j)

5
10
15
20
25
30
35
40
45

In [19]:
# To display sum of numbers in a list
lst = [12,15,23,35,48,11]
su_m = 0
for ae in lst:
    su_m = su_m + ae
print(su_m)

144

### Nested Loops

In [25]:
for i in range(0,2):
    for j in range(0,2):
        print('i = ', i, '\t', 'j = ', j)

i =  0 	 j =  0
i =  0 	 j =  1
i =  1 	 j =  0
i =  1 	 j =  1

In [26]:
## To display right angled triangle or stair case star pattern

In [51]:
for i in range(0,5):
    for j in range(0,i):
        print("*",end="")
    print("")

*
**
***
****

In [32]:
## To display (reverse) right angled triangle or stair case star pattern

In [50]:
for i in range(5,0,-1):
    for j in range(0,i):
        print('*',end="")
    print('')

*****
****
***
**
*

In [59]:
for i in range(0,5):
    for j in range(0,i):
        print(' ', end='')
    print('*')

*
 *
  *
   *
    *

In [60]:
# To Display numbers from 1 to 100 in 10 rows and 10 columns

In [62]:
for i in range(1,11):
    for j in range(1,11):
        print('{:8}'i*j,'  ',end='')
    print()

1   2   3   4   5   6   7   8   9   10
2   4   6   8   10   12   14   16   18   20
3   6   9   12   15   18   21   24   27   30
4   8   12   16   20   24   28   32   36   40
5   10   15   20   25   30   35   40   45   50
6   12   18   24   30   36   42   48   54   60
7   14   21   28   35   42   49   56   63   70
8   16   24   32   40   48   56   64   72   80
9   18   27   36   45   54   63   72   81   90
10   20   30   40   50   60   70   80   90   100